# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BubbleShooter.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\123\Desktop\csharp\BubbleShooter\.idea\.idea.BubbleShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
